@model ShoeStore.ViewModels.ChangePasswordVM
@{
    ViewData["Title"] = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/assets/styles/contact_responsive.css">
<link rel="stylesheet" type="text/css" href="~/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" href="~/assets/plugins/themify-icons/themify-icons.css">

<div class="container contact_container">
    <div class="row">
        <div class="col">
            <!-- Breadcrumbs -->
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a asp-controller="home" asp-action="index">Trang chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Thông tin tài khoản</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body mt-2">
        <h4 class="mb-2">Change password! 👋</h4>

        @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                @ViewData["ErrorMessage"]

            </div>

        }
        else if (!string.IsNullOrEmpty(ViewData["Sucsess"] as string))
        {
            <div class="alert alert-success" role="alert">
                @ViewData["Sucsess"]

            </div>
        }

        <form asp-action="ChangePassword" id="formAuthentication" class="mb-3" method="POST">
            <div class="form-floating form-floating-outline mb-3">
                <label for="OldPassword">Mật khẩu cũ</label>
                <input asp-for="OldPassword"
                       type="password"
                       id="oldPassword"
                       class="form-control"
                       name="OldPassword"
                      
                       aria-describedby="password" />
                <span asp-validation-for= "OldPassword" id="oldPasswordValidation" class="text-danger"></span>
            </div>
            <div class="form-floating form-floating-outline mb-3">
                <label for="OldPassword">Mật khẩu cũ</label>
                <input asp-for="NewPassWord"
                       type="password"
                       id="newPassword"
                       class="form-control"
                       name="NewPassWord"
                       aria-describedby="password" />
                <span asp-validation-for="NewPassWord" id="newPasswordValidation" class="text-danger"></span>
            </div>
            <div class="form-floating form-floating-outline mb-3">
                <label for="OldPassword">Mật khẩu cũ</label>
                <input asp-for="ConfirmPassword"
                       type="password"
                       id="ConfirmPassword"
                       class="form-control"
                       name="ConfirmPassword"
                       aria-describedby="password" />
                <span asp-validation-for="ConfirmPassword" id="confirmPasswordValidation" class="text-danger"></span>
            </div>
            <div class="mb-3 d-flex justify-content-between">
                <a asp-action="ForgotPassword" asp-controller="Account" class="float-end mb-1">
                    <span>Quên mật khẩu</span>
                </a>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary d-grid w-100" type="submit" id="logoutButton" onclick="validatePassword()">Lưu thay đổi</button>
            </div>
        </form>
        <div class="text-center">
            <a href="#" class="d-flex align-items-center justify-content-center" onclick="goBack()">
                <i class="mdi mdi-chevron-left scaleX-n1-rtl mdi-24px"></i>
                Cancel
            </a>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>
    </div>
</div>