@model ShoeStore.ViewModels.ResetPass
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/assets/styles/contact_responsive.css">
<link rel="stylesheet" type="text/css" href="~/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" href="~/assets/plugins/themify-icons/themify-icons.css">
<div class="container contact_container">
    <div class="row">
        <div class="col">
            <!-- Breadcrumbs -->
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a asp-controller="Home" asp-action="index">Trang chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Quên mật khẩu</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="align-items-center justify-content-center">
       
        <div>
            <h4 class="mb-2">Quên mật khẩu? 🔒</h4>
            <p class="mb-4">Nhập email của bạn và chúng tôi sẽ gửi hướng dẫn để đặt lại mật khẩu của bạn</p>
            @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
            {
                <div class="alert alert-warning alert-dismissible" role="alert">
                    @ViewData["ErrorMessage"]
                </div>
            }
            else if (!string.IsNullOrEmpty(ViewData["Sucsess"] as string))
            {
                <div class="alert alert-success" role="alert">
                    @ViewData["Sucsess"]
                </div>
            }
        </div>
       

        <form asp-action="ForgotPassword" asp-controller="Account" class="col-md-12" method="POST" >
            <div>
                <input name="email" type="email"
                       class="form-control"
                       id="email"
                       asp-for="Email"
                       placeholder="Nhập email của bạn"
                       autofocus />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div style="padding-top:10px">
                <button class="btn btn-primary d-grid w-100" type="submit">Xác nhận</button>
            </div>
            
        </form>
        <div class="text-center">
            <a href="#" class="d-flex align-items-center justify-content-center" onclick="goBack()">
                <i class="mdi mdi-chevron-left scaleX-n1-rtl mdi-24px"></i>
                Hủy bỏ
            </a>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>
    </div>
</div>

