@model ShoeStore.ViewModels.ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/assets/styles/contact_responsive.css">
<link rel="stylesheet" type="text/css" href="~/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" href="~/assets/plugins/themify-icons/themify-icons.css">
<div class="container contact_container">
	<div class="row">
		<div class="col">
			<!-- Breadcrumbs -->
			<div class="breadcrumbs d-flex flex-row align-items-center">
				<ul>
					<li><a asp-controller="Home" asp-action="index">Trang chủ</a></li>
					<li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Liên hệ</a></li>
				</ul>
			</div>

		</div>
	</div>
    <div class="card-body mt-2">
        <h4 class="mb-2">Cuộc phiêu lưu bắt đầu từ đây 🚀</h4>
        @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                @ViewData["ErrorMessage"]
            </div>
        }
        else if (!string.IsNullOrEmpty(ViewData["Sucsess"] as string))
        {
            <div class="alert alert-success" role="alert">
                @ViewData["Sucsess"]
            </div>
        }
        <p class="mb-4">Đặt lại mật khẩu</p>

        <form asp-action="ResetPassword" asp-controller="account" id="formAuthentication" class="mb-3" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating form-floating-outline mb-3">
                <input asp-for="Email" type="text" class="form-control" id="Email" name="Email" placeholder="Nhập Email của bạn" />
            </div>
            <div class="form-floating form-floating-outline mb-3">
                <input asp-for="ConfirmCode" type="text" class="form-control" id="ConfirmCode" name="ConfirmCode" placeholder="Nhập mã xác nhận của bạn" />
            </div>
            <div class="form-floating form-floating-outline mb-3">
                <input asp-for="NewPassword" type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="Nhập mật khẩu mới của bạn" />
            </div>
            <div class="form-floating form-floating-outline mb-3">
                <input asp-for="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Nhập xác nhận mật khẩu mới của bạn" />
            </div>
            <div class="mb-3">
                <button class="btn btn-primary d-grid w-100" type="submit">Gửi</button>
            </div>
        </form>
        <div class="text-center">
            <a asp-action="Login" class="d-flex align-items-center justify-content-center">
                <i class="mdi mdi-chevron-left scaleX-n1-rtl mdi-24px"></i>
                Quay lại đăng nhập
            </a>
        </div>

        <p class="text-center">
            <span>Đã có tài khoản?</span>
            <a href="~/Account/Login">
                <span>Đăng nhập ngay</span>
            </a>
        </p>
    </div>
</div>

