
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/assets/styles/contact_responsive.css">
<link rel="stylesheet" type="text/css" href="~/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" href="~/assets/plugins/themify-icons/themify-icons.css">

<link href="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.3.1/mapbox-gl-directions.css" type="text/css">
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.3.1/mapbox-gl-directions.js"></script>
<!-- Hamburger Menu -->

<div class="container contact_container">
	<div class="row">
		<div class="col">
			<!-- Breadcrumbs -->
			<div class="breadcrumbs d-flex flex-row align-items-center">
				<ul>
					<li><a asp-controller="Home" asp-action="index">Trang chủ</a></li>
					<li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Liên hệ</a></li>
				</ul>
			</div>

		</div>
	</div>
	<!-- Map Container -->
	<div id='map' style='width: 100%; height: 400px;'></div>
	<div id="language" class="mapboxgl-ctrl mapboxgl-ctrl-group">
		<button class="mapboxgl-ctrl-icon mapboxgl-ctrl-language" aria-label="Language"></button>
		<select id="language-select">
			<option value="en">English</option>
			<option value="vi">Tiếng Việt</option>
			<option value="ru">Russian</option>
			<option value="de">French</option>
			<option value="es">Spanish</option>
		</select>
	</div>
	<!-- Contact Us -->
	<div class="row">

		<div class="col-lg-6 contact_col">
			<div class="contact_contents">
				<h1>Contact Us</h1>
				<p>There are many ways to contact us. You may drop us a line, give us a call or send an email, choose what suits you the most.</p>
				<div>
					<p>(800) 686-6688</p>
					<p>info.deercreative@gmail.com</p>
				</div>
				<div>
					<p>mm</p>
				</div>
				<div>
					<p>Open hours: 8.00-18.00 Mon-Fri</p>
					<p>Sunday: Closed</p>
				</div>
			</div>

			<!-- Follow Us -->

			<div class="follow_us_contents">
				<h1>Follow Us</h1>
				<ul class="social d-flex flex-row">
					<li><a href="#" style="background-color: #3a61c9"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" style="background-color: #41a1f6"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" style="background-color: #fb4343"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					<li><a href="#" style="background-color: #8f6247"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
			</div>

		</div>

		<div class="col-lg-6 get_in_touch_col">
			<div class="get_in_touch_contents">
				<h1>Get In Touch With Us!</h1>
				<p>Fill out the form below to recieve a free and confidential.</p>
				<form action="post">
					<div>
						<input id="input_name" class="form_input input_name input_ph" type="text" name="name" placeholder="Name" required="required" data-error="Name is required.">
						<input id="input_email" class="form_input input_email input_ph" type="email" name="email" placeholder="Email" required="required" data-error="Valid email is required.">
						<input id="input_website" class="form_input input_website input_ph" type="url" name="name" placeholder="Website" required="required" data-error="Name is required.">
						<textarea id="input_message" class="input_ph input_message" name="message" placeholder="Message" rows="3" required data-error="Please, write us a message."></textarea>
					</div>
					<div>
						<button id="review_submit" type="submit" class="red_button message_submit_btn trans_300" value="Submit">send message</button>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoicGh1b2NraXRhIiwiYSI6ImNsZnIxczFzYzA0NGMzd3J4aXYwb2UwY2kifQ.F9tcOUIiJJu6GiXH1g4yuw';
	const map = new mapboxgl.Map({
		container: 'map', // container ID
		style: 'mapbox://styles/mapbox/streets-v12', // style URL
		center: [105.80290, 21.02685], // starting position [lng, lat]
		zoom: 13, // starting zoom

	});
	var marker = new mapboxgl.Marker({
		color: "red", //Màu của Marker là đỏ
		draggable: true,
		anchor: 'bottom', //Nhãn Hà Nội nằm dưới Marker
	}).setLngLat([105.85, 21.0]) //Thiết lập Marker tại hà Nội
		.addTo(map);
	map.addControl(new mapboxgl.NavigationControl());

	// Thêm control GeolocateControl
	map.addControl(new mapboxgl.GeolocateControl({
		positionOptions: {
			enableHighAccuracy: true
		},
		trackUserLocation: true
	}));

	// Thêm control FullscreenControl
	map.addControl(new mapboxgl.FullscreenControl());


	document.getElementById('language-select').addEventListener('change', function () {
		var language = this.value;
		map.setLayoutProperty('country-label', 'text-field', ['get', 'name_' + language]);
	});

	map.on('click', function (e) {
		new mapboxgl.Marker({
			color: 'blue',
			draggable: true,

		}).setLngLat([e.lngLat.lng, e.lngLat.lat])
			.addTo(map);
	});

	map.addControl(
		new MapboxDirections({
			accessToken: mapboxgl.accessToken
		}),
		'top-left'
	);
</script>
