@model ShoeStore.Models.Vouchers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Thêm voucher";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section naviheader {
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/admin/voucher/index" class="nav-link">Voucher</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Thêm mới</a>
        </li>
    </ul>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới voucher</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Voucher</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin thêm mới voucher</h3>
        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                <form asp-controller="voucher" asp-action="Add" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Tên voucher</label>
                            <input asp-for="Name" class="form-control"  placeholder="Nhập tên voucher"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Value" class="control-label">Nhập %</label>
                            <input asp-for="Value" type="number" class="form-control" placeholder="Nhập giá trị là số nguyên"/>
                            <span asp-validation-for="Value" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Code" class="control-label">Nhập mã</label>
                            <input asp-for="Code" class="form-control" placeholder="Nhập mã voucher"/>
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DiscountAmount" class="control-label">Giảm tối đa</label>
                            <input type="text" class="form-control" asp-for="DiscountAmount" placeholder="Nhập giảm tối đa"/>
                            <span asp-validation-for="DiscountAmount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Quantity" class="control-label">Số lượng</label>
                            <input type="number" class="form-control" asp-for="Quantity" placeholder="Nhập số lượng" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StartDate" class="control-label">Ngày bắt đầu</label>
                            <input type="date" class="form-control" asp-for="StartDate" placeholder="Nhập ngày bắt đầu" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EndDate" class="control-label">Ngày kết thúc</label>
                            <input type="date" class="form-control" asp-for="EndDate" placeholder="Nhập ngày kết thúc"  />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="control-label">Hiển thị</label>
                            @Html.CheckBoxFor(x => x.Status,new { @checked = "@checked" })
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Lưu</button>
                            <a href="/admin/voucher/index" class="btn btn-danger">Quay lại</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section Styles {
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/theme.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
